<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>个人简历</title>

	<link rel="stylesheet" href="/static/plugins/bootstrap-5.3.3-dist/css/bootstrap.css">
	<link rel="stylesheet" href="/static/plugins/fontawesome-free-6.5.1-web/css/fontawesome.css">
</head>

<body>
<h1>个人简历主页面</h1>
<p>
	<a href="../index.html">点击返回主页</a>
</p>

<script src="/static/js/jquery-3.7.1.js"></script>
<script src="/static/plugins/bootstrap-5.3.3-dist/js/bootstrap.js"></script>
<script src="/static/plugins/bootstrap-5.3.3-dist/js/bootstrap.bundle.js"></script>
<script src="/static/plugins/fontawesome-free-6.5.1-web/js/fontawesome.js"></script>
</body>
</html>
